@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;0,800;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-sans hover:opacity-90 transition duration-500;
  padding: 8px 21px;
  min-width: 176px;
}

.btn-primary {
  @apply bg-secondary;
}

.btn-secondary {
  background-color: transparent;
}
/* .html5-video-player {
  width: 340px !important;
  height: auto;
} */

.transition-all {
  transition: transform 0.3s ease-in-out;
}

.transition-all a {
  transition: color 0.3s linear;
}

.notActive {
  transform: translate(-100%, 0);
}

.active {
  transform: translate(0, 0);
}

.rotateDiv {
  transform: rotate(4.99deg);
}
/* .btn-secondary:hover {
  @apply bg-secondary;
} */
/* .bg-heading {
  background-image: url('../assets/icons/line.svg');
}
.bg-section {
  background-image: url('../assets/images/bg-net.svg');
}
.bg-world {
  background-image: url('../assets/images/world.svg');
}
.bg-contact {
  background-image: url('../assets/images/contact-area.png');
} */

body,
html {
  background-color: rgba(233, 245, 249, 1);
  overflow-x: hidden;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* .dropdown-menu, .header-menu .dropdown-menu, .navbar-light .dropdown-menu {
  padding: 1rem 0;
  font-size: 13px;
  color: #355c7a;
  background-color: #e0edf5;
  border: none;
  border-radius: 0;
  border-top: 1px solid #e0edf5;
  font-family: Avenir, sans-serif;
  margin-top: 0;
} */
